name: CI

on: 
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.0'
          
    - name: Restore Solution
      run: dotnet restore WebScraper.sln
      
    - name: Build Solution
      run: dotnet build WebScraper.sln  
      
    - name: Test Solution
      run: dotnet test WebScraper.sln    
    
    - name: Publish UltimoScraper
      uses: alirezanet/publish-nuget@v3.0.0
      with:
          PROJECT_FILE_PATH: UltimoScraper/UltimoScraper.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
          INCLUDE_SYMBOLS: true
